<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form style="margin-top: 100px; margin-left: 100px;">
    <h3>
        <%- locals.msg  %> 
    </h3>
      <input style="width: 500px; height: 50px;   border: 2px solid black; " type="text" />
      <button style=" 
      width: 200px; 
      height: 50px;  
      border: 5px; 
      background-color: darkslategray;
      border-radius: 17px; "><a style="
      color: aliceblue;"   >BroadCast</a>
      </button>
  </form>
  <div style=" margin-top: 100px; margin-left: 100px;">
    <h3> LIST OF CLIENTS</h1>
        <div style="width: 1000px;  border: 2px solid black;  padding: 20px; ">
          <%for(let i= 0;i<clients.length;i++){%>
      <div style="width:800px; border: 1px solid black; padding: 10px;">
      <h2> Client ID: <%- clients[i].id %></h2>   
      <div>
       
      </div>
      <button style=" 
      width: 200px; 
      height: 50px;  
      border: 5px; 
      background-color: darkslategray;
      border-radius: 17px; "><a style="
      color: aliceblue;" href="" >Notify</a>
      </button>
      
      <button style=" 
      width: 200px; 
      height: 50px;  
      border: 5px; 
      background-color: darkslategray;
      border-radius: 17px; "><a style="
      color: aliceblue;" <a href=<%= "/RemoveClient?id="+clients[i].id %>  >Disconnect</a>
      </button>
      
      <button style=" 
      width: 200px; 
      height: 50px;  
      border: 5px; 
      background-color: darkslategray;
      border-radius: 17px; "><a style="
      color: aliceblue;"   href="" >Chat</a>
      </button>
      
      </div>
         <% } %>  
       </div>
  </div>
  
</body>
</html>